@using CurrencyExchange.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://wp2.dev.routerhosting.com/wp-content/uploads/image-result-for-forex-trading-1.jpeg" class="img-fluid" alt="Responsive image">
    <h1 class="display-4">Currency Exchange Wizzard</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
