@model CurrencyExchange.Web.ViewModels.Contact.ContactViewModel
@{
    this.ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button type="button" class="btn btn-primary btn-lg btn-block">София бул."Ал.Стамболийски" 25 , тел. + 02 123 567 89 email: wizzard@currency.com </button>
<!--Section: Contact v.2-->
<section class="mb-4">
    <img src="https://www.recruitnorthhighlands.com/wp-content/uploads/2019/10/contact-us-1908762_1280.png" class="card-img-top" alt="Responsive image" width="250" height="150">
    <!--Section heading-->
    <!--Section description-->
    <form method="post" class="col-md-6 offset-3" id="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"><strong>Име</strong></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"><strong>Email</strong></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject"><strong>Тема</strong></label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message"><strong>Съобщение</strong></label>
            <textarea asp-for="Message" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>

    <div class="col-md-6 offset-3" id="map">
        <div class="gmap_canvas"><iframe width="400" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=%D0%A1%D0%BE%D1%84%D0%B8%D1%8F%20%2C%20%D0%B1%D1%83%D0%BB.%20%22%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%8A%D1%80%20%D0%A1%D1%82%D0%B0%D0%BC%D0%B1%D0%BE%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%22%2025&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com/divi-discount/"></a></div>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 500px;
                width: 600px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
                width: 600px;
            }
        </style>
    </div>
</section>
